<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470886338377-8kbqbi8qfbs1300vjp3e3v7f4lfiavpm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470886338377-8kbqbi8qfbs1300vjp3e3v7f4lfiavpm</string>
	<key>API_KEY</key>
	<string>AIzaSyDAcsdzN8tiDdk9i7YB4aJHvNmTxV0XX1k</string>
	<key>GCM_SENDER_ID</key>
	<string>470886338377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.multigp.RaceSyncApp</string>
	<key>PROJECT_ID</key>
	<string>racesyncapp</string>
	<key>STORAGE_BUCKET</key>
	<string>racesyncapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470886338377:ios:96447236be6ced91f15498</string>
	<key>DATABASE_URL</key>
	<string>https://racesyncapp.firebaseio.com</string>
</dict>
</plist>