<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Blue</string>
				</array>
			</dict>
			<key>CFPV</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-CFPV</string>
				</array>
			</dict>
			<key>FMR</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-FMR</string>
				</array>
			</dict>
			<key>KRU</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-KRU</string>
				</array>
			</dict>
			<key>OTTFPV</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-OTTFPV</string>
				</array>
			</dict>
			<key>S3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-S3</string>
				</array>
			</dict>
			<key>White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-White</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.multigp.RaceSync</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>racesync</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>waze</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>Saving race events to Calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Upload image to server</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Search races based on location and show user location on map</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Search races based on location and show user location on map</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Search races based on location and show user location on map</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Browse and save images</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
